@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  --tw-prose-body: hsl(var(--muted-foreground));
}

/* Flex container that holds both the title and badges */
.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Force the title from the frontmatter to behave like a flex item */
h1 {
  font-size: 24px; /* Adjust as necessary */
  margin-right: 20px;
  flex-shrink: 0;
}

/* Flexbox for badges to align them in a row */
.badges-container {
  display: flex;
  gap: 10px; /* Space between badges */
}

@media (max-width: 768px) {
  /* On smaller screens, stack the title and badges vertically */
  .content-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .badges-container {
    margin-top: 10px;
  }
}


